.Box{
  margin: 10px 10px 10px 10px;
  padding: 200px 500px 5px 500px;
  border: Purple 3px dashed;
}
.BlackText{
  text-align: center;
}
.GreenText{
  color: green;
  text-align: center;
  font-size: 8px;
}
.YellowText{
  color: yellow;
  text-align: left;
}
.TinyTextPurple{
  color: Purple;
  font-size: 6px;
  text-align: right;
}
.YELLOW{
  color: yellow;
}
.RedText{
    color: red;
    vertical-align: text-top;
}
