body{
  background-color: blue;
}
div{
  margin: 20px 20px 20px 20px;
  border: black 5px solid;
}
.RedText{
  margin: 20px 10% 20px 10%;
  border: green 3px dashed;
  color: red;
}
img{
  width: 400px;
  height: auto;
  margin: 20px 10% 20px 10%;
  padding: inherit;
  border: yellow 3px dashed;
}
