body{
  background-color: blue;
}
.box{
  margin: 20px 10% 20px 10%;
  border: black 5px;
}
.RedText{
  margin: auto;
  border: green 3px dashed;
  color: red;
}
img{
  width: 100px;
  height: 600px;
  margin: 20px;
  border: yellow 3px dashed;
}
