body{
	color:white;
	background-color:white;
}

#header{
	height:50px;
  width: 100%
	text-align:center;
	background-color: red;
}

#leftbody{
	float:left;
	width:190px;
	height: 500px;
	background-color: green;
	padding:5px;

}
#rightbody{
	float:right;
	width:540px;
	height:500px;
	background: green;
	padding:5px;
}

#bottom{
	text-align:left;
	height:50px;
	clear:both;
background-color: blue
}
