header{
  background-color: red;
  height: 300px;
  width: 100%;
}

h2{
  text-align: center;
}

p{
  background-color: green;
  Height: 80%;
  width: 100%;
}

footer{
  background-color: blue;
  height: 300px;
  width: 100%
}
