body{
	color:black;
	background-color:green;
}


#wrapper{
	width:5px;
	margin:0px auto;
	background-color:green;
}

#Content1{
position: absolute;
left: 200px;
top: 10px;
  width:200px;
  height: 200px;
  background-color: blue;
  padding:5px;
  font-size: 11px;
}
#Content2{
  position: absolute;
  top: 10px;
  right: 200px;
  width:200px;
  height:200px;
  background:Red;
  padding:5px;
  font-size: 11px;
}

#Content3{
  position: absolute;
  bottom: 100px;
  right: 40%;
  width:200px;
  clear: both;
  height:200px;
  background-color: yellow;
  padding:5px;
  font-size: 11px;
}
