body{
	color:black;
	background-color:green;
}


#wrapper{
	width:5px;
	margin:0 auto;
	background-color:green;
}

#Content1{
  float:left;
  width:200px;
  height: 200px;
  background-color: blue;
  padding:5px;
  font-size: 11px;
}
#Content2{
  float:right;
  width:200px;
  height:200px;
  background:Red;
  padding:5px;
  font-size: 11px;
}

#Content3{
  float: center;
  width:200px;
  clear: both;
  height:200px;
  background-color: yellow;
  margin-right: 275px;
  font-size: 11px;
}
